# Dependencies
node_modules/

# Build output
dist/
lib/

# Firebase
firebase-debug.log
.firebase/

# Environment variables
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
